{% extends "site/base.html" %}
{% load static %}

{% block head_tags %}
	{{ block.super }}
	
{% endblock head_tags %}


{% block content %}
    <div>

        <section id="top" class="hero-area">
            <img src="https://preview.uideck.com/items/cryptoland/assets/images/hero/text-shape.svg" alt="#" class="hero-shape"/>
            <div id="i9vol" class="container">
                <div id="iwuip" class="row align-items-center">
                    <div id="i0c2t" class="col-lg-5 col-md-12 col-12">
                        <div id="ii6bc" class="hero-content">
                            <h4 data-wow-delay=".2s" id="i51ep" class="wow fadeInUp">Start Envesting &amp;Earn Money</h4>
                            <h1 data-wow-delay=".4s" id="ixejb" class="wow fadeInUp">
                                Say goodbye
                     to <br id="ijk9v"/>
                                idle
                     
                                <span id="iirtk">
                                    <img src="https://preview.uideck.com/items/cryptoland/assets/images/hero/text-shape.svg" alt="#" class="text-shape"/>money.
                     
                                </span>
                            </h1>
                            <p data-wow-delay=".6s" id="iilvt" class="wow fadeInUp">
                                Invest your spare change in Bitcoin and save
                     with<br id="iiuqk"/>crypto to earn interest in real time.
                  
                            </p>
                            <div data-wow-delay=".8s" id="i3549" class="button wow fadeInUp">
                                <a href="{% url 'dashboard:register' %}" class="btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div id="il1ou" class="col-lg-7 col-12">
                        <div id="ib8dg" class="hero-image">
                            <img src="https://preview.uideck.com/items/cryptoland/assets/images/hero/home2-bg.png" alt="#" class="main-image"/>
                            <img src="https://preview.uideck.com/items/cryptoland/assets/images/hero/h2-bit-l.png" alt="#" class="h2-move-1"/>
                            <img src="https://preview.uideck.com/items/cryptoland/assets/images/hero/h2-bit-m.png" alt="#" class="h2-move-2"/>
                            <img src="https://preview.uideck.com/items/cryptoland/assets/images/hero/h2-bit-s.png" alt="#" class="h2-move-3"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="feature" class="feature section">
            <div id="iowyh" class="container">
                <div id="igj69" class="row">
                    <div id="iyhx5" class="col-12">
                        <div id="i0bcw" class="section-title">
                            <h3 data-wow-delay=".2s" id="i3704" class="wow zoomIn">Why choose us</h3>
                            <h2 data-wow-delay=".4s" id="ikhl4" class="wow fadeInUp">Our features</h2>
                            <p data-wow-delay=".6s" id="ihx3b" class="wow fadeInUp">Investors from all over the world trust and use Bull mines for simplicity, security and profitability</p>
                        </div>
                    </div>
                </div>
                <div id="isosq" class="row">
                    <div data-wow-delay=".2s" id="igga0i" class="col-lg-4 col-md-6 col-12 wow fadeInUp">
                        <div id="iyyx2h" class="feature-box">
                            <div id="itxsmp" class="tumb">
                                <img src="https://preview.uideck.com/items/cryptoland/assets/images/features/feature-icon-1.png" alt=""/>
                            </div>
                            <h4 class="text-title">Simple Interface</h4>
                            <p>Investing in Bitcoin shouldn't be complicated. Our Dashboard is simple and straightforward to prevent any hassle.
                  </p>
                        </div>
                    </div>
                    <div data-wow-delay=".4s" id="iyphio" class="col-lg-4 col-md-6 col-12 wow fadeInUp">
                        <div id="itsa1n" class="feature-box">
                            <div id="intts2" class="tumb">
                                <img src="https://preview.uideck.com/items/cryptoland/assets/images/features/feature-icon-2.png" alt=""/>
                            </div>
                            <h4 class="text-title">Safe &amp;Secure</h4>
                            <p>We value your security and privacy. Rest assured, your money and info are secured with industry standard measures to give you a secure investment.</p>
                        </div>
                    </div>
                    <div data-wow-delay=".6s" id="iaukqg" class="col-lg-4 col-md-6 col-12 wow fadeInUp">
                        <div id="i7v2v4" class="feature-box">
                            <div id="i4kmyk" class="tumb">
                                <img src="https://preview.uideck.com/items/cryptoland/assets/images/features/feature-icon-3.png" alt=""/>
                            </div>
                            <h4 class="text-title">Instant Investment</h4>
                            <p>Your investments are instant and added to a pool, to increase your gains. We offer the best payout rates in the industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="get-started" class="start-process section">
            <div id="i3mwcr" class="container">
                <div id="ixvhmo" class="row">
                    <div id="isr43n" class="col-12">
                        <div id="i386kx" class="section-title">
                            <h3 data-wow-delay=".2s" id="ikz1ug" class="wow zoomIn">Ready to get started?</h3>
                            <h2 data-wow-delay=".4s" id="igp6lg" class="wow fadeInUp">3 Steps To Start</h2>
                            <p data-wow-delay=".6s" id="iegtz8" class="wow fadeInUp">Simplicity is at the core of Bull Mines, so it's no wonder getting started is as easy as 1, 2, 3.
                  </p>
                        </div>
                    </div>
                </div>
                <div id="i6z24l" class="row">
                    <div id="in7fu6" class="col-lg-4 col-md-4 col-12">
                        <div id="iivwk8" class="single-process">
                            <span class="serial">01</span>
                            <h3>Create Your Account</h3>
                            <p>Create an account with your Email, Full name and set a password.</p>
                        </div>
                    </div>
                    
                    <div id="iz1l9a" class="col-lg-4 col-md-4 col-12">
                        <div id="i591if" class="single-process">
                            <span class="serial">02</span>
                            <h3>Set up Your Wallet</h3>
                            <p>Set up your wallet and fund your wallet with your capital.</p>
                        </div>
                    </div>

                    <div id="io8p4i" class="col-lg-4 col-md-4 col-12">
                        <div id="isrkyk" class="single-process">
                            <span class="serial">03</span>
                            <h3>Invest &amp; Earn</h3>
                            <p>Invest with our highly profitable packages and enjoy your ROI.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="intro-video-area section">
            <div id="im9712" class="container">
                <div id="i5o6n2" class="row">
                    <div id="iu1tmn" class="col-12">
                        <div id="iivr7c" class="inner-content-head">
                            <div id="ifdvov" class="inner-content">
                                <img src="https://preview.uideck.com/items/cryptoland/assets/images/video/shape1.svg" alt="#" class="shape1"/>

                                <img src="https://preview.uideck.com/items/cryptoland/assets/images/video/shape2.svg" alt="#" class="shape2"/>

                                <div id="ifv5pp" class="section-title">
                                    <span data-wow-delay=".2s" id="ipjvm6" class="wow zoomIn">Create your own experience</span>
                                    <h2 data-wow-delay=".4s" id="iq84gf" class="wow fadeInUp">Watch Our intro video</h2>
                                    <p data-wow-delay=".6s" id="icl1xm" class="wow fadeInUp">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                                </div>

                                <!-- Intro Video -->
                                <div class="">
                                    <video width="100%" src="{% static 'assets/promo-video.mp4' %}"></video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="reviews" class="testimonials style2 section">
            <div id="is6ey2" class="container">
                <div id="igszck" class="row">
                    <div id="iyn19f" class="col-12">
                        <div id="inkhcf" class="section-title">
                            <h3 data-wow-delay=".2s" id="ikr8ir" class="wow zoomIn">Customer Reviews</h3>
                            <h2 data-wow-delay=".4s" id="ix7f6j" class="wow fadeInUp">Our Testimonials</h2>
                            <p data-wow-delay=".6s" id="i18lhg" class="wow fadeInUp">There are many variations of passages of Lorem
                     Ipsum available, but the majority have suffered alteration in some form.
                  </p>
                        </div>
                    </div>
                </div>

                <div id="tns2-ow" class="tns-outer">
                    <div aria-label="Carousel Pagination" id="i7wgvq" class="tns-nav">
                        <button type="button" data-nav="0" aria-controls="tns2" aria-label="Carousel Page 1 (Current Slide)" id="i1udwt" class="tns-nav-active"></button>
                        <button type="button" data-nav="1" tabindex="-1" aria-controls="tns2" aria-label="Carousel Page 2" id="ivvuzs"></button>
                        <button type="button" data-nav="2" tabindex="-1" aria-controls="tns2" aria-label="Carousel Page 3" id="irjjhz"></button>
                        <button type="button" data-nav="3" tabindex="-1" aria-controls="tns2" aria-label="Carousel Page 4" id="iytwmd"></button>
                        <button type="button" data-nav="4" tabindex="-1" aria-controls="tns2" aria-label="Carousel Page 5" id="i2es8i"></button>
                    </div>

                    <div aria-live="polite" aria-atomic="true" class="tns-liveregion tns-visually-hidden">
                        slide <span class="current">6 to 8</span>
                        of 5
                    </div>

                    <div id="tns2-mw" class="tns-ovh">
                        <div id="tns2-iw" class="tns-inner">
                            <div id="tns2" class="row testimonial-slider tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal">
                                
                                <div aria-hidden="true" tabindex="-1" id="ilp8zc" class="col-lg-6 col-12 tns-item tns-slide-cloned">
                                    <div id="i0m2aj" class="single-testimonial">
                                        <div id="ikrrqk" class="inner-content">
                                            <div id="iei3kk" class="quote-icon">
                                                <i id="izqvtf" class="lni lni-quotation"></i>
                                            </div>
                                            <div id="i9y666" class="text">
                                                <p>“A vast number of clients decide to create dedicated software is the
                                    online store. It is nothing but a website with a catalog of products and the
                                    possibility.”
                                 </p>
                                            </div>
                                            <div id="iwlx6d" class="author">
                                                <img src="https://preview.uideck.com/items/cryptoland/assets/images/testimonial/testi-1.png" alt="#"/>
                                                <h4 class="name">
                                                    Somalia D Silva
                                    <span class="deg">Business Manager</span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div aria-hidden="true" tabindex="-1" id="i9exp6" class="col-lg-6 col-12 tns-item tns-slide-cloned">
                                    <div id="i0z0ki" class="single-testimonial">
                                        <div id="ip178d" class="inner-content">
                                            <div id="ie6fh7" class="quote-icon">
                                                <i id="itoemm" class="lni lni-quotation"></i>
                                            </div>
                                            <div id="im0g4f" class="text">
                                                <p>“A vast number of clients decide to create dedicated software is the
                                    online store. It is nothing but a website with a catalog of products and the
                                    possibility.”
                                 </p>
                                            </div>
                                            <div id="i6llaf" class="author">
                                                <img src="https://preview.uideck.com/items/cryptoland/assets/images/testimonial/testi-2.png" alt="#"/>
                                                <h4 class="name">
                                                    David Warner
                                    <span class="deg">Blockchain Developer</span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="faqs" class="faq section">
            <div class="container">
                <div class="section-title">
                    <h3 data-wow-delay=".2s" class="wow zoomIn">FAQs</h3>
                    <h2 data-wow-delay=".4s" class="wow fadeInUp">frequently asked questions</h2>
                    <p data-wow-delay=".6s" class="wow fadeInUp">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <ul class="list-unstyled">
                            <li>
                                <div class="d-flex justify-content-between">
                                    <h5>Question</h5>

                                    <button class="btn" onclick="toggleFaqs"><i class="fas fa-plus"></i></button>
                                </div>

                                <p>Answer</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-12 col-12 xs-margin">
                        <ul class="list-unstyled">
                            <li>
                                <div class="d-flex justify-content-between">
                                    <h5>Question</h5>

                                    <button class="btn" onclick="toggleFaqs"><i class="fas fa-plus"></i></button>
                                </div>

                                <p>Answer</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>	

    <script type="text/javascript">
        function toggleFaqs(){
            let toggler = event.target;
            let parent = toggler.parentElement.parentElement;

            console.log("Parent", parent)
        }
    </script>
{% endblock content %}