<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-argon">
  
  <title>
    Bull Mines - Login
  </title>

  <link rel="icon" href="/static/assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fontawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="bg-default">

  <div class="main-content">

    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">
                <a target="_blank" class="text-white"
                   href="{% url 'core:site-index' %}">Bull Mines</a>
              </h1>
              <p class="text-lead text-white">
                Log in to your dashboard 
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    
    
    {% block content %}

        <!-- Page content -->
        <div class="container mt--8 pb-5">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
              <div class="card bg-secondary border-0 mb-0">

                <div class="card-header bg-transparent">
                  <h3 class="mb-0"> Sign in </h3>
                </div>

                {% if error %}
                  <div class="px-lg-5 py-2">
                    <span class="text-danger"> {{error}} </span>
                  </div>
                {% endif %}

                <div class="card-body px-lg-5 py-lg-3">
                  <form role="form" method="post">
                    {% csrf_token %}

                    <div class="form-group mb-3">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input name="email" class="px-2 form-control" placeholder="Email" type="email">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        <input id="password" required name="password" class="px-2 form-control" placeholder="Password" type="password">
                        <span class="input-group-append">
                          <span id="password-reveal" class="input-group-text"><i class="fas fa-eye"></i></span>
                        </span>
                      </div>
                    </div>

                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input name="remember" class="custom-control-input" id="customCheckLogin" type="checkbox">
                      <label class="custom-control-label" for="customCheckLogin">
                        <span class="text-muted">Remember me</span>
                      </label>
                    </div>
                    
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary my-4">Sign in</button>
                    </div>
                  </form>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-6">
                  <span class="text-light"> No Account? </span> <br> <a href="{% url 'dashboard:register' %}" class="text-light font-weight-bold"> Create one Here </a>
                </div>
                <div class="col-6 text-right">
                  <a href="{% url 'dashboard:password-reset' %}" class="text-light font-weight-bold">Forgot Password?</a>
                </div>
              </div>

            </div>
          </div>
        </div>

    {% endblock content %}


    {% include "includes/footer-fullscreen.html" %}

  </div>
    
  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}

    <script type="text/javascript">
    const pswd = document.querySelector('#password');
    const pswdReaveler = document.querySelector('#password-reveal');

    pswdReaveler.addEventListener('click', function(ev) {
      if (pswd.type === "password") {
        pswd.type = "text"
      }else{
        pswd.type = "password"
      }
    });


  </script>
  {% endblock javascripts %}
  
  <script src="/static/assets/js/argon.js?v=1.2.0"></script>

</body>

</html>